<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Zoom.Net.Factory" 
             type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>

  <!-- <Zoom.Net.Factory file="Zoom.Net.Factory.Config" /> -->

  <Zoom.Net.Factory>
    <add key="IConnectionClass" 
         value="Zoom.Net.YazSharp.Connection, zoom.net.yazsharp" />
    <add key="IConnectionExtendedClass" 
         value="Zoom.Net.YazSharp.ConnectionExtended, zoom.net.yazsharp" />
    <add key="IPrefixQueryClass" 
         value="Zoom.Net.YazSharp.PrefixQuery, zoom.net.yazsharp" />
    <add key="ICQLQueryClass" 
         value="Zoom.Net.YazSharp.CQLQuery, zoom.net.yazsharp" />
  </Zoom.Net.Factory>

</configuration>

<!-- Emacs NXML mode
     Local variables:
     mode: nxml
     End:
-->
